<%= render 'logobar' %>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">

			<div class="form-center">
				<h1>NOVO CURSO</h1>

				<%= render 'form_course' %>
			</div>
		</div>
	</div>
</div>