<div class="row mycarousel">
	<div class="col-lg-12 col-md-12 col-sm-">
		<div id="PrimaryCarousel">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<%= image_tag 'slide1.jpg', :width=> '100%', class: 'd-block w-100', alt: 'First Slide' %>
					<div class="carousel-caption">
						<%= link_to 'Conheça nossos serviços!' %>
					</div>
				</div>
			</div>
			<!-- <a class="carousel-control-prev" href="#PrimaryCarousel" role="button" data-slide="prev" >
				<span class="carousel-control-prev-icon"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#PrimaryCarousel" role="button" data-slide="next" >
				<span class="carousel-control-next-icon"></span>
				<span class="sr-only">Next</span>
			</a> -->
		</div>
	</div>
</div>