<div class="row" >
	<%= render '/menu' %>
</div>

<div class="row" >
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 box-center" style="padding-top: 10%;">
				<h1 align="center" style="font-size: 3em;"><b>QUEM SOMOS?</b></h1>
				<p align="center" style="margin-top: 6em;"><%= image_tag 'logo.png', :width=> '70%' %></p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 box-center" style="font-size: 1.2em; padding-right: 2em; margin-top: 7em;">
				<p align="justify"><b>A COMASERV CONSULTORIA E ASSESSORIA iniciou suas atividades em 2015, a partir da idealização da Sócia-Proprietária Alliny Tássya, com um pequeno comércio em sua própria casa no Bairro Cipó na cidade de São Raimundo Nonato.  A princípio com uma pequena carteira de clientes, mas sempre buscando fomentar as ações junto aos seus clientes de forma inovadora, transparente e colaborativa.</b></p>

				<p align="justify"><b>Ao longo de sua história, procurou desenvolver a capacitação de seus colaboradores para permitir oferecer mais serviços especializados e de excelência a seus clientes.</b></p>

				<p align="justify"><b>Hoje atende uma demanda, quer seja no setor público quer seja no privado, por meio de consultorias e assessorias em diversas cidades da região sul e sudeste do Piauí e Bahia.</b></p><br>
			</div>
		</div>

		<div class="row" style="height: 10px; width: 100%; background: #0B0B3B; margin: 4em auto; border-radius: 1em;">
			
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 box-2">
				<h2 align="center"><b>Nossa Missão</b></h2>
				<p>promover o desenvolvimento de pessoas e organizações aumentando o seu diferencial competitivo ajudando-os a se tornarem cada vez melhores no seu segmento de negócios. </p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 box-2">
				<h2 align="center"><b>Nossa Visão</b></h2>
				<p>Ser referência e modelo de excelência na prestação de serviços  atendo e satisfazendo as necessidades de todos os nossos clientes.
				</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 box-2">
				<h2 align="center"><b>Nossos Valores</b></h2>
				<p>Ética, Transparência, Valorização das pessoas, Responsabilidade Social e sustentabilidade, Cumprimento dos prazos, Comprometimento com os resultados.</p>
			</div>
		</div>
	</div>
</div>