<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 2em;">
		<div class="col-lg-12 col-md-12 col-sm-6">
		<h2>PARA MAIORES INFORMAÇÕES ENTRE EM CONTATO CONOSCO!</h2>
		<%= link_to 'Orçamento $', contacts_budget_path, class: 'btn btn-budget' %>
		<%= link_to 'Duvida ?', contacts_doubt_path, class: 'btn btn-doubt' %>
	</div><br>
</div>