<div class="row">
	<%= render '/menu' %>
</div>

<div class="image-back background">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 box-center">
				<h1>CONSULTORIA EM GESTÃO CONTÁBIL</h1><br>
				<p>Uma consultoria contábil de qualidade, é fundamental para qualquer empresa ter sucesso.  São números que, também, podem determinar o sucesso ou fracasso da sua empresa. </p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p><b>Algumas dessas informações contábeis podem ter grande repercussão para a tomada de decisões dos gestores: demonstrativos de fluxo de caixa, de contas a pagar, contas a receber, folha de pagamento, controle do ativo imobilizado, dos custos, demonstração do resultado do exercício, simulações de preços e resultados baseadas em dados contábeis, apuração de impostos e para fins fiscais.</b></p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p align="center"><%= image_tag 'calc.png', :width=> '50%' %></p>
			</div>
		</div>

		<%= render 'contact_us' %>
	</div>
</div>