<div class="row">
	<%= render '/menu' %>
</div>

<div class="image-back background">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 box-center">
				<h1>CONSULTORIA EM GESTÃO EMPRESARIAL</h1><br>
				<p>O cenário econômico está em constantes mudanças e uma boa gestão empresarial é primordial para que um negócio se mantenha competitivo no mercado. A gestão empresarial traz benefícios para diferentes aspectos do negócio: processos, equipe, resultados e até mesmo na percepção do cliente. Um dos principais ganhos é que a gestão permite criar processos bem definidos na empresa a partir de uma rotina produtiva organizada e otimizada. Como por exemplo, fazendo um diagnóstico completo de todos os seus processos, isso permite encontrar os pontos que precisam de melhorias e que, portanto, devem ser prioridades na gestão. Análise do mercado e concorrentes. Gestão de Pessoas.  Divulgação e informações de seus produtos, bem como, de seus clientes.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p><b>Nossa atuação é focada em melhorar os resultados financeiros e de gestão de nossos clientes, através de um relacionamento de parceria e alinhado aos objetivos estratégicos. São os objetivos dos nossos clientes que guiam nosso trabalho.</b></p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p align="center"><%= image_tag 'coins.png', :width=> '50%' %></p>
			</div>
		</div>

		<%= render 'contact_us' %>
	</div>
</div>