<div class="row">
	<%= render '/menu' %>
</div>

<div class="image-back background">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-center">
				<h1>CONSULTORIA EM GESTÃO PÚBLICA</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p>A EMPRESA COMASERV CONSULTORIA E ASSESSORIA visa o atendimento ao setor público de Administração como: Prefeituras, Câmaras, etc.
				Busca prestar os mais diversos serviços à gestão pública, visando auxiliar os gestores e proporcionar um diferencial nas ações a serem desenvolvidas. Com dedicação, trabalho e competência, a empresa busca sempre direcionar esforços para a modernização da gestão pública através do planejamento e incremento de recursos financeiros, humanos e materiais.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 box-center">
				<p align="center"><%= image_tag 'public.png', :width=> '80%' %></p>
			</div>
		</div>

		<%= render 'contact_us' %>
	</div>
</div>