<div class="row image-back school">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="consulting">
		<h1>Consultoría em gestão escolar</h1>
		<p>O processo da Gestão escolar consiste num sistema de organização interno da escola, desenvolvendo todos os setores que estão relacionados com as práticas escolares. Desta forma, a gestão escolar visa garantir um desenvolvimento socioeducacional eficaz na instituição de ensino. 
		Para melhor garantir essa eficácia no desenvolvimento e planejamento das atividades socioeducaionais.</p><br>

		<h3>A consultoria em Gestão Escolar apresentada por nossa empresa visa:</h3>
			<div align="left">
			<ul>
				<li>Um melhor entendimento dos processos e possíveis pontos de má utilização de seus recursos financeiros e materiais para a redução de custos e eliminação de desperdícios;
				</li>
				<li>
					Treinamento e Desenvolvimento de atividades/cursos/seminários e etc que visam formação contínua dos profissionais nos mais diversos setores da ambiente escolar;
				</li>
				<li>
					Mudança comportamental, através de treinamento, da equipe para melhoria dos resultados;
				</li>
				<li>
					Desenvolvimento de instrumentos que permitam a elaboração de simulações de cenários e avaliação de desempenho;
				</li>
				<li>
					Demonstração, por meio de relatório, dos pontos de melhorias de rotinas e processos internos da instituição.
				</li>
				<li>
					Assessorar na elaboração, execução e revisão do Orçamento anual e no planejamento financeiro em consonância com o Planejamento Estratégico e/ou PDI;
				</li>
				<li>
					Assessorar no Planejamento Financeiro x Acadêmico:  importante análise para o controle dos custos diretos e indiretos e que estejam de acordo com plano escolar, PPP/PDI, visando a manutenção da qualidade pedagógica/acadêmica.
				</li>
				<li>
					A partir do trabalho da Consultoria, exercer o acompanhamento  dos indicadores chave do negócio, implantação dos processos da qualidade, garantindo eficiência e eficácia, redução de custos e foco nos resultados para um ensino de excelência.
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>
