<div class="row">
	<%= render '/menu' %>
</div>

<div class="row image-back background">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="box-center">
				<h1>OBRIGADO PELO SEU CONTATO :)</h1>
				<h2 align="center">EM BREVE ENTRAREMOS EM CONTATO COM VOCÊ!</h2>
				<%= link_to root_path do %>
					<div class="btn-home">
						<h2>VOLTAR À PÁGINA INICIAL</h2>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>