/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background: #F2F2F2;
}

.primary-container {
	min-height: 70em;
}

/* barra de menus */

.logo-bar {
	float: left;
	height: 100px;
}

.navbar {
	height: 100%;
}

.menus {
	margin-top: 54px;
	width: 100%;
	height: 40px;
	font-family: "Arial";
}

.menus ul {
	list-style: none;
	position: relative;
}

.menus ul li {
	width: 150px;
	float: left;
}

.menus a {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px #0B0B3B;
	font-weight: bold;
}

.menus ul ul {
	position: absolute;
	visibility: hidden;
}

.menus ul li:hover ul {
	z-index: 1;
	visibility: visible;
	position: absolute;
}

.menus a:hover {
	color: #0B243B;
	background: #e6e6e6;
	text-shadow: none;
}

.menus ul ul li {
	float: none;
	border-bottom: solid 1px #ccc;
}

.menus ul ul li a {
	color: #fff;
	background: #0B243B;
}

label[for="bt_menu"] {
	padding: 2px;
	background: #B40404;
	border-radius: 1em;
	color: white;
	font-family: 'Arial';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#bt_menu {
	display: none;
}

label[for="bt_menu"] {
	display: none;
}

/* fim da barra de menus */

.footer-1 {
	height: 15em;
	background: #848484;
	margin-top: 20%;
	text-align: center;
	color: #fff;
	padding: 1em;
	font-size: 1.1em;
}

.footer-1 a {
	text-decoration: none;
	color: #fff;
}

.footer-2 {
	height: 3em;
	background: #585858;
	text-align: center;
	color: #fff;
	font-size: 1.3em;
	padding-top: 1em;
}

.title-index {
	width: 60%;
	margin: 1em auto;
	border: solid;
}

.title-index h1 {
	width: 50%;
	margin: 1em auto;
}

/* backgrounds images */

.front {
	background-image: url(front.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.background {
	background-image: url(background.png);
	background-repeat: repeat-y;
	background-size: 100%;
}

.financial {
	background-image: url(financial.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.accounting {
	background-image: url(accounting.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.me {
	background-image: url(logo-background.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}

/* end background images */

.image-back {
	min-height: 40em;
	margin-top: 2em;
}

.box-center {
	color: #1c1c1c;
	padding: 1em;
	margin-top: 3em;
	text-align: justify;
	font-size: 1.4em;
}

.box-center h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.box-center ul li {
	margin-bottom: 1em;
}

.form-box {
	width: 45%;
	margin: 1em auto;
	background: #fff;
	padding-bottom: 1em;
}

.form-box h4 {
	text-align: center;
	background: #8A0808;
	padding: 2em 2em;
	color: #fff;
	margin-bottom: 2em;
}

.form-box .form-group {
	padding: 0.5em 3em; 
}

.btn-blue {
	background: #0B243B;
	color: #fff;
	width: 50%;
	padding: 0.5em 3em;
	margin-left: 25%;
}

.label-front {
	width: 100%;
	color: #fff;
	font-size: 4em;
	margin-top: 18%;
	text-align: center;
	text-shadow: 2px 2px #1c1c1c;
}

.label-front h1 {
	background: #0B0B3B;
	width: 50%;
	margin: 1em auto;
	padding: 0.5em;
	border-radius: 1em;
}

.label-front img {
	width: 8em;
	height: 2.5em;
	margin-bottom: 0.5em;
}

.title-center {
	color: #1c1c1c;
	text-align: center;
	margin-top: 12%;
	margin-bottom: 3em;
}

.courses {
	transition: .4s;
	background: #A9BCF5;
	padding: 0.5em 3em;
	margin-top: 2em;
	text-decoration: none;
	color: #1c1c1c;
	border-radius: 1em;
}

.courses h3 {
	font-weight: bold;
}

.courses:hover {
	background: #F78181;
	padding-left: 30%;
	transition: .4s;
}

.box-course {
	margin: 2em auto;
}

.box-course h1 {
	text-align: center;
	font-weight: bold;
	background: #0B0B3B;
	color: #fff;
	padding: 0.5em 1em;
	border-radius: 1em;
}

.box-course h2 {
	text-align: center;
	font-weight: bold;
}

.box-course p {
	text-align: justify;
	font-size: 1.3em;
	padding: 1em;
}

.box-admin {
	margin: 2.2em;
	background: #A9BCF5;
	padding: 2em;
	font-size: 1.5em;
	text-align: center;
	border-radius: 0.8em;
	font-weight: bold;
}

.box-admin p {
	text-decoration: none;
	color: #1c1c1c;
}	

.box-admin:hover {
	background: #819FF7;
}

.box-1 {
	height: 17em;
	overflow: hidden;
	margin: 0em 0em;
	margin-bottom: 2em;	
}

.box-1 img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .4s;
}

.box-1 h4 {
	width: 100%;
	height: 20%;
	margin-top: 80%;
	position: absolute;
	color: #fff;
	background: #0B0B3B;
	padding: 0.7em 0.5em;
	text-align: center;
	transition: all .4s;
}

.box-1:hover img {
	opacity: 0.8;
	height: 85%;
	transition: all .4s;
}

.box-1:hover h4 {
	margin-top: 60%;
	transition: all .4s;
}

.box-2 {
	font-size: 1.4em;
	text-align: justify;
	padding: 1.5em;
}

.box-3 {
	height: 20em;
	overflow: hidden;
	margin: 0em 2em;
	margin-bottom: 2em;
}

.box-3 img {
	position: absolute;
	width: 100%;
	height: 90%;
}

.box-3 h4 {
	width: 100%;
	height: 20%;
	margin-top: 50%;
	position: absolute;
	color: #fff;
	background: #0B0B3B;
	padding: 0.7em 0.5em;
	text-align: center;
}

.box-3:hover {
	opacity: 0.7;
}

.box-4 {
	height: 16em;
	overflow: hidden;
	margin: 0em 0em;
	margin-bottom: 2em;
}

.box-4 img {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0.3em;
	transition: .4s;
}

.box-4:hover img {
	width: 90%;
	height: 90%;
	margin: 1em;
	opacity: 0.9;
	transition: .4s;
}

.form-center {
	width: 80%;
	margin: 2em auto;
}

.form-center h1 {
	font-weight: bold;
	margin-bottom: 2em;
	text-align: center;
}

.gallery {
	width: 95%;
	height: 30em;
	position: relative;
	overflow: hidden;
	margin: 1em auto;
	margin-top: 20%;
}

.picture {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	animation-name: animatepicture;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.picture img {
	width: 100%;
	height: 100%;
}

@keyframes animatepicture {
	25%{
		opacity: 1;
		transform:scale(1.1,1.1);
	}

	50%{
		opacity: 0;
	}
}

.picture:nth-child(1){

}

.picture:nth-child(2){
	animation-delay: 5s;
}

.picture:nth-child(3){
	animation-delay: 10s;
}

.btn-budget {
	background: #0B0B3B;
	padding: 0.5em 3em;
	text-decoration: none;
	color: #fff;
	border-radius: 1em;
	margin: 1em;
	font-size: 1.3em;
}

.btn-doubt {
	background: #8A0808;
	padding: 0.5em 3em;
	text-decoration: none;
	color: #fff;
	border-radius: 1em;
	margin: 1em;
	font-size: 1.3em;
}

.btn-home {
	color: #fff;
	margin-top: 6em; 
	text-align: center; 
	background: #0B243B; 
	padding: 0.8em; 
	border-radius: 1em;
}

.btn-home h2 {
	font-weight: bold; 
	color: #fff;
}

.btn-home:hover {
	background: #483D8B;
}

/* ----- display small ------------ */

@media(max-width: 1000px) {

	#barra_de_logo {
		display: none;
	}

	.menus {
		margin-top: 5px;
		margin-left: -110%;
		transition: all .4s;
		padding-left: 0px;
	}

	.menus ul li {
		width: 100%;
		float: none;
		background: #1c1c1c;
	}

	.menus ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	.menus ul li:hover ul {
		height: auto;
		max-height: 200px;
	}

	#bt_menu:checked ~ .menus {
		margin-left: 0;
		margin-bottom: 10em;	
	}

	#bt_menu:checked ~ .menus ul li{
		float: left;
	}

	label[for="bt_menu"] {
	display: block;
	}

	.form-box {
		width: 100%;
	}

	.box-1 img {
		opacity: 0.8;
		height: 85%;
	}

	.box-1 h4 {
		margin-top: 50%;
	}

	.box-1:hover h4 {
		margin-top: 50%;
	}

	.label-front {
		margin-top: 70%;
	}

	.gallery {
		height: 15em;
	}

	.footer-link {
		display: none;
	}

	.footer-2 {
		font-size: 1em;
	}

}